* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #252526;
}
.dark{
  background-color: #000000;
  color: #fff;
}
.light{
  background-color: #fff;
  color: #000;
}